<h1 class="text-center">User List</h1>
<div class="container mt-4">
  <button
    mat-raised-button
    color="primary"
    class="mb-3"
    (click)="service.addUser()"
  >
    Add New User
  </button>

  <table
    mat-table
    [dataSource]="service.users"
    class="mat-elevation-z8 mat-table"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let user">{{ user.country }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let user">{{ user.gender }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button
          mat-icon-button
          color="primary"
          (click)="service.viewUser(user)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="service.editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="service.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: service.displayedColumns"></tr>
  </table>
</div>
